<header>
  <nav>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/items"><li>Browse Items</li></a>
      <a href="/users/signup"><li>Signup</li></a>
      <a href="/users/login"><li>Login</li></a>
    </ul>
  </nav>
</header>